$blue: #113b92;

html {
  font-size: 62.5%;
}

body {
  color: $blue;
  font-family: "Hammersmith One", sans-serif;
  font-size: 1.4rem;
}

.app {
  display: flex;
  flex-flow: row wrap;
}

.map {
  width: 100%;
  height: 100%;
}
